@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #131518;
    font-family: 'Overpass', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 412px;
    background: radial-gradient(98% 98% at 50% 0%, #232A34 0%, #181E27 100%);
    border-radius: 15px;
    margin: 0 24px;
}

h1, h2 {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 10px;
}

legend, p {
    color: #969FAD;
}

form {
    margin: 80px 24px 32px;
    position: relative;
}

form::before {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -56px;
    left: 0;
    content: "";
    background: url(./images/icon-star.svg) no-repeat center, #262E38;
    background-size: 14px 13px;
    border-radius: 50%;
}

fieldset {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;    
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + label, label:hover {
    color: #FFFFFF;
}

input[type=radio]:checked + label {
    background-color: #7C8798;    
}

label {
    width: 42px;
    height: 42px;
    background-color: #262E38;
    border-radius: 50%;
    padding: 12px 17px;
    color: #7C8798;
}

label:hover {
    background-color: #FC7614;
}

label, button {
    cursor: pointer;
    font-weight: 700;
    transition: all ease 0.4s;
}

button, .rateMessage {
    border-radius: 22.5px;
}

button {
    font-family: inherit;
    color: inherit;
    font-size: 100%;
    letter-spacing: 1.9px;    
    text-transform: uppercase;
    background-color: #FC7614;
    width: 100%;
    padding: 14px 0;
}

button:hover {
    background-color: #FFFFFF;
    color: #FC7614;
}

section {
    margin: 154px 24px 37px;
    text-align: center;
    position: relative;    
}

section::before {
    position: absolute;
    content: "";
    width: 144px;
    height: 96px;
    background: url(./images/illustration-thank-you.svg) no-repeat;
    background-size: cover;
    top: -120px;
    left: 50%;
    margin-left: -72px;
}

.rateMessage {
    width: 168px;
    color: #FC7614;
    background-color: #262E38;
    padding: 5px 12px;
    margin: 0 auto 24px;
}

@media screen and (min-width: 1440px) {  
    body {
        font-size: 15px;
    }

    main {
        border-radius: 30px;
        margin: 6px 24px 0;
    }

    h1, h2 {
        font-size: 28px;
        margin-bottom: 7px;
    }

    form {
        margin: 110px 40px 32px 32px;
    }

    form::before {
        width: 48px;
        height: 48px;
        top: -78px;
        background-size: 17px 13px;
    }

    fieldset {
        padding: 24px 0 32px;  
    }

    label {
        width: 51px;
        height: 51px;
        padding: 17px 21px;
        color: #7C8798;
    }

    section {
        margin: 185px 40px 45px 32px;   
    }

    section::before {
        width: 162px;
        height: 108px;
        top: -140px;
    }

    .rateMessage {
        width: 193px;
        padding: 4px 19px;
        margin: 0 auto 32px;
    }
}